
.Rbuildignore
.Rproj.user/2A7FE5CD/build_options
.Rproj.user/2A7FE5CD/cpp-definition-cache
.Rproj.user/2A7FE5CD/pcs/debug-breakpoints.pper
.Rproj.user/2A7FE5CD/pcs/files-pane.pper
.Rproj.user/2A7FE5CD/pcs/source-pane.pper
.Rproj.user/2A7FE5CD/pcs/windowlayoutstate.pper
.Rproj.user/2A7FE5CD/pcs/workbench-pane.pper
.Rproj.user/2A7FE5CD/persistent-state
.Rproj.user/2A7FE5CD/rmd-outputs
.Rproj.user/2A7FE5CD/saved_source_markers
.Rproj.user/2A7FE5CD/sources/prop/363CAD13
.Rproj.user/2A7FE5CD/sources/prop/3D1C0576
.Rproj.user/2A7FE5CD/sources/prop/5E2F673F
.Rproj.user/2A7FE5CD/sources/prop/5F594061
.Rproj.user/2A7FE5CD/sources/prop/752EC077
.Rproj.user/2A7FE5CD/sources/prop/986AD167
.Rproj.user/2A7FE5CD/sources/prop/B8FF5E7D
.Rproj.user/2A7FE5CD/sources/prop/INDEX
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/3874ECBF-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/3C66A183
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/3C66A183-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/4139B360-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/630F3223
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/630F3223-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/667097B5-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/6EBD6A99-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/6F9A160C-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/7BC75353-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/874B3450-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/C1EF5522
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/C1EF5522-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/C5E516B4-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/CA2BDA06
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/CA2BDA06-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/CC62DB86-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/CC85F7C3
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/CC85F7C3-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/EB92906A-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/F0976D4C-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/F56D8CC3-contents
.Rproj.user/2A7FE5CD/sources/s-CE3AEBB6/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
